server {
    listen       {{ nginx_port }};
    server_name  {{ nginx_server_name }};

    location / {
        proxy_pass http://{{ webserver_private_ip }}:{{ webserver_port }};  # Proxy to your webserver
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # Add other locations for static files, etc. as needed
    # location /static/ {
    #     alias /var/www/static/;
    # }
}